.paymentCard {
    margin: auto;
    width: 250px;
    border: none;
    background-color:#f6f0f3;
    .content {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 18px;
        color: #56251b;
        text-align: left;
    }
}
@media (max-width: 575px) {
    .paymentCard{
        width: 50px;   
    }
    .paymentCard > figure > img {
        width: 50px;
    }
  
    .paymentCard .content {
    font-weight: 700;
    font-size: 16px;
    }

}