.container-one {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 100px 100px;
    height: 400px;
    text-align: center;

    h3 {
        font-weight: 500;
        font-size: 40px;
        color: #c8553d;;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        color: #56251b;
    }
    h3, p {
        font-family: 'Canela', serif;
        text-align: center;
    }
}

.container-two {
    margin-bottom: 50px;
    padding: 10px 0;
    position: relative;
    z-index: 2;

    input {
      appearance: none;
      outline: 0;
      border: 1px solid #56251b;
      background-color: #fbf1ef;
      width: 400px;
      border-radius: 3px;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: #56251b;
      transition-duration: 0.25s;
      font-weight: 300;
    }
    a {
        color: #56251b;
    }
    button {
      background-color: #f3c9c1;
      appearance: none;
      outline: 0;
      border: 0;
      padding: 10px 15px;
      border-radius: 3px;
      width: 400px;
      cursor: pointer;
      font-size: 18px;
      transition-duration: 0.25s;
    
    }
    button:hover {
        background-color: #ffffff;
        border: 1px solid #50a3a2;
    
    }
}